
@{
    ViewBag.Title = "Index";
}

<div id="nouveauxFilms" class="col-md-2 well well-sm">
    <h4>Derniers films</h4>
    <table class="table table-striped">
        <tr>
            <td>Fight Club</td>
        </tr>
        <tr>
            <td>Menace II Society</td>
        </tr>
        <tr>
            <td>American Psycho</td>
        </tr>
        <tr>
            <td>Le Parrain</td>
        </tr>
        <tr>
            <td>Fighter in the Wind</td>
        </tr>
    </table>
</div>
<div id="listeFilms" class="col-md-offset-1 col-md-9 well well-sm">
    <h4>Liste des films</h4>
</div>